.topnav-cont {
    width: 100vw;
    display: grid;
    height: 100px;
    border-bottom: solid 1px rgb(41, 41, 41);
    /* box-shadow: 0px 4px 5px rgb(44, 44, 44); */
    align-items: center;
    justify-content: center;
}

.topnav {
    padding-inline:20px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
}

.topnav-title {
    padding-inline: 20px;

}

.topnav-options {

    display: flex;
    padding-inline: 20px;

}

.topnav-option {
    all: unset;
    margin-left: 20px;
    cursor: pointer;
}