.type-test {
    margin-top: 100px;
}

.type-test-blur {
    filter:blur(4px)
}

.type-test-words {
    position: relative;
    display: flex;
    font-family: 'Ubuntu mono';
    font-size: 26px;
    flex-wrap: wrap;
    max-width: 1000px;
    letter-spacing: 1px;
    line-height: 150%;
}

.generated-words {
    color:rgb(112, 112, 112)
}

.user-char-correct {
    color: rgb(190, 190, 190);
}

.user-char-incorrect {
    color: rgb(201, 95, 95);
}

.user-char-incorrect-whitespace {
    background-color: rgba(209, 87, 87, 0.281);
}

.user-typings {
    position: absolute;
}

